A request to reset the password of <%= @user.username%> has been made.
Click <%= @temp_login_link %> to set your password
This link will expire one hour after the request.
If you did not make this request or if the request was made in error you do not need to do anything.
