<h3>A request to reset the password of <b><%= @user.username%></b> has been made.</h3>
<p>Click <b><%= link "here", to: @temp_login_link %></b> to set your password</p>
<p>This link will expire one hour after the request.</p>
<p>If you did not make this request or if the request was made in error you do not need to do anything.</p>
