<div>
  <h3>Welcome to the Beef Northwest Dashboard.</h3>
  <%= if @current_user.it_admin do %>
    <iframe src='https://beefnw.cloud.looker.com/embed/public/D4vXrVy7394QnxF4fCxcSFBz2cGZJwDn?f[deads.yard]=02&f[deads.lot]=202A' width='600' height='338' frameborder='0'></iframe>
  <% end %>
</div>
